<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap3.3.7.min.css') }}">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/edu-nav.css') }}">

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery1.12.4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap3.3.7.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='utils.js') }}"></script>
