# The Secret key must be unpredictable and it should not be exposed
SECRET_KEY="<your_secret_key>"

# The database config
DATABASE_ENGINE="sqlite3"
DATABASE_HOST=""
DATABASE_PORT=""
DATABASE_NAME="db.sqlite3"
DATABASE_USER=""
DATABASE_PASSWORD=""

# User directory
#
# It's an optional setting with default value depending on the platform:
# On Unix-like system, the default value is $HOME/.iottalk
# On Windows platform, the default value is $USERPROFILE/_iottalk
USER_DIR=""

# Log directory where log files are stroed, its value is regarded as a path related to the USER_DIR
#
# It is an optional setting with the default value: log/account_system/
#
# Note: Please make sure this directory exists
LOG_DIR=""

# This URL is where the API support by CCM
CCM_API_URL="http://ccm:7788/api/v0/"

CORS_ORIGIN_ALLOW_ALL=false