*~
*.tmp
*.swp
*.pyc
.DS_Store
log/
lib/esm/df_func/f*.py
sqlite/ec_db.db
node_modules
.idea
MDB_ID
da/panel/index.html
python3.5.core
da/vp/py/*
da/Remote_control_*
#!da/vp/py/a
#!da/vp/py/general
*.egg-info
node_modules/*
yarn-error.log
