<html>
  <head>
    <title>Download Feature</title>
    <link rel="stylesheet" href="static/css/df_creation.css">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/jquery-ui/jquery-ui.min.css">


    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/other/fading.css">
    <link rel="stylesheet" href="static/css/other/main.css">
    <link rel="stylesheet" href="static/css/object.css">
    <link rel="stylesheet" href="static/css/idf_module.css">
    <link rel="stylesheet" href="static/css/odf_module.css">
    <link rel="stylesheet" href="static/css/dm_creation.css">
    <link rel="stylesheet" href="static/css/manage.css">

    <script src="static/js/jquery-1.11.1.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/jquery-ui/jquery-ui.min.js"></script>
    <script src="static/js/prettify.js"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/plugin.js"></script>

    <script src="static/management/manage_download_feature.js"></script>
    <script src="static/management/manage_download_feature_html.js"></script>
    
    <script> 
      $(function(){ init(); });
      var mdb_id = '{{mdb_id}}';
    </script>

  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <nav id="nav" class="navigation lcyan">
          <div class="container" style="width:100%; padding:0 0 0 0;">
            <div class="row">
               <div class="col-md-12">
                 <ul class="menu fading l_tinynav1">
                   <li id="dm_df_switch"><a style="color:black">Download Feature</a></li>
                   {% for category in category_list %}
                     <li class="category"><a>{{category}}</a></li>
                   {% endfor %}
               </div>
            </div>
          </div>
        </nav>
      </div>
      <div id="content">
        <div class="">
          <div id="connect_block" class="col-sm-6">
            <div id="df_window_outer"></div>
          </div>
          <div id="work_area" class="col-sm-6">
            <div id="dm_window_outer" class="div-dfc-outer" style="background-color:white"></div>
          </div>
        </div>
      </div>
    <div id="loading" class="alert alert-info" role="alert" style="display:none">Data loading....please wait.</div>
    </div>
  </body>
</html>
